<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>757943745270-lore2mkd2hjh8he780i7qkhj2htnnp6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757943745270-lore2mkd2hjh8he780i7qkhj2htnnp6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCyF7PYjVe7MiFIboMnpRsEH4c_OIv6Qss</string>
	<key>GCM_SENDER_ID</key>
	<string>757943745270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saigonmd.fooapp</string>
	<key>PROJECT_ID</key>
	<string>fooapp-bc7d5</string>
	<key>STORAGE_BUCKET</key>
	<string>fooapp-bc7d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757943745270:ios:0d8368e9bdc8541f</string>
	<key>DATABASE_URL</key>
	<string>https://fooapp-bc7d5.firebaseio.com</string>
</dict>
</plist>